.formu{    
    /*background-color: rgb(51, 26, 46); rosita*/
    background-color: rgba(0, 0, 0, 0.493);
    backdrop-filter: blur(18px);
    width: 100%;  
    border: 2px;
    border-color: white solid;
    border-style: solid;
}

.form-inputs{
    /*background-color: rgb(27, 14, 25); rosita*/
    background-color: rgba(255, 255, 255, 0.4);    
    color: rgb(255, 255, 255);
    text-align: start;
    border: 2px;
    border-color: white;
    border-style: dashed;
}

::placeholder {
    /*color: rgb(100, 44, 107); rosita*/
    color:rgb(255, 255, 255);
    opacity: 1; /* Firefox */
    text-align: start;
}

.pancho-container{
    background-color: rgb(254, 209, 222);    
}