<div class="container-fluid p-0 m-0"> 
    <img src="../../../../assets/img/wallpapers/bills-low.jpg" class="hero-img position-absolute z-0">    
    <div class="row form-container d-flex align-content-center bg-black m-0 z-2">
        <div class="col-0 col-md-6">

        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <form class="d-flex flex-column justify-content-center m-2 formu p-4 rounded-3 shadow shadow-lg text-white z-1 w-75">
                
                <h1 class="fs-4 mb-4 fw-bold">INICIAR SESIÓN</h1>
                <div class="mb-3">
                    <input 
                    type="email" 
                    [(ngModel)]="email"
                    [ngModelOptions]="{standalone: true}"
                    class="form-inputs form-control fw-bold" 
                    id="email" 
                    placeholder="CORREO">
                </div>

                <div class="mb-3">
                    <input 
                    type="password"
                    [(ngModel)]="password"
                    [ngModelOptions]="{standalone: true}" 
                    class="form-inputs form-control fw-bold" 
                    id="password" 
                    placeholder="CONTRASEÑA">
                </div>
                <hr>
                <button type="button" class="btn btn-outline-light" (click)="LogIn()">Entrar</button>
                <small class="text-center mt-3">QUIERO CREAR UNA CUENTA AHORA</small>
            </form>             
        </div>           
    </div>
</div>