<div class="test sticky-top position-absolute z-0"></div>
<div class="container-fluid main-content">
    <div class="row">
        <div class="col-12 z-3 d-flex justify-content-center">
            <h1 class="text-white fw-bold titles">SOBRE MÍ</h1>
        </div>
    </div>
    <div class="row p-4 aboutme-text">
        <div class="col-12 z-3 d-flex justify-content-center">
            <img src="../../../assets/img/personal/yoCuadrado.jpg" class="personal-img d-inline-block mt-4">
        </div>
        <div class="col-12 d-flex justify-content-center">
            <p class="text-white fw-semibold fs-5">
                Guia Leandro Emanuel
            </p>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-12 z-3">                         
            <h3 class="text-white fw-bold">Juego propio:</h3>
            <p class="text-white fw-semibold fs-5">
                 En este trabajo decidí realizar el famoso juego de la ruleta rusa.
            </p>
        </div>
    </div>
</div>