<div class="test sticky-top position-absolute z-0"></div>
<div class="container-fluid main-content">
    <div class="row">
        <div class="col-12 z-3 d-flex justify-content-center">
            <h1 class="text-white fw-bold titles">SOBRE MÍ</h1>
        </div>
    </div>
    <div class="row p-4 aboutme-text">
        <div class="col-12 z-3">
            <p class="text-white fw-semibold fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aliquam, vero! Quia id dolor labore modi suscipit quisquam ullam nobis,
                molestias blanditiis illo sit ipsa repellat dolorem debitis nesciunt quae aliquid.
                
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aliquam, vero! Quia id dolor labore modi suscipit quisquam ullam nobis,
                molestias blanditiis illo sit ipsa repellat dolorem debitis nesciunt quae aliquid.
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aliquam, vero! Quia id dolor labore modi suscipit quisquam ullam nobis,
                molestias blanditiis illo sit ipsa repellat dolorem debitis nesciunt quae aliquid.
            </p>
        </div>
    </div>
</div>