<div class="container-fluid main-content">
    <div class="row">
        <div class="col-12 d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-white fw-bold titles text-center">SOBRE MÍ</h1>
            <hr class="mini-hr border-opacity-100 border-info rounded-2">
        </div>        
    </div>    
    <div class="row p-4">
        <div class="col-12 d-flex justify-content-center">
            <img src="../../../assets/img/personal/yoCuadrado.jpg" class="personal-img d-inline-block mt-2">
        </div>
        <div class="col-12 d-flex justify-content-center">
            <p class="text-white fs-6 fst-italic mt-2">
                Guia Leandro Emanuel
            </p>
        </div>
    </div>
    <div class="row p-4 mx-md-4">
        <div class="col-12 d-flex flex-column align-items-center">                         
            <p class="text-white fs-6">
                Tengo 21 años, actualmente estudio una tecnicatura universitaria en programación en UTNFRA.<br>
                Este trabajo práctico fue hecho para practicar el manejor de Angular y TypeScript junto con distintos servicios de Firebase. El enunciado del atrabajo puede encontrarse <a href="#">aquí</a>.
            </p>
        </div>
    </div>
    <div class="row p-4 mx-md-4">
        <div class="col-12 d-flex flex-column align-items-center">                         
            <h2 class="fw-bold text-white">JUEGO PERSONALIZADO</h2>
            <p class="text-white fs-6 mt-4">
               Para este trabajo decidí realizar el famoso juego de la ruleta rusa.
            </p>
        </div>
    </div>
</div>