<div class="container-fluid">
    <div class="row">
        <div class="hero-section col-12 d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-white fw-bold z-1 ">SALA DE JUEGOS</h1>
            <p class="text-white z-1 fs-5">Un trabajo práctico buenísimo 😎</p>
            <button class="btn btn-lg  btn-primary fw-semibold z-1" type="submit" (click)="test()">🔥VAMO' A JUGA'🔥</button>
            <img src="../../../assets/img/wallpapers/main-dim.jpg" class="hero-img position-absolute z-0">            
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-white fs-3">Rareriroru</p>
        </div>
    </div>
</div>