@if(showNavbar==true){
<nav class="navbar navbar-expand fixed-top bg-transparent p-sm-3">
  <div class="container-fluid d-flex justify-content-center align-items-center ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <button class="nav-link active text-white fw-semibold" aria-current="page" href="#">INICIO</button>
        </li>

        <li class="nav-item">
          <button class="nav-link active text-white fw-semibold" aria-current="page" href="#">JUGAR</button>
        </li>

        <li class="nav-item">
          <button class="nav-link active text-white fw-semibold" aria-current="page" href="#">SOBRE MÍ</button>
        </li>

      </ul>
        <button class="btn btn-primary fw-semibold" type="submit">Iniciar sesión</button>
    </div>
  </div>
</nav>
}